In [1]:
import pandas as pd

#defining column types for incoming csv
read_dtype={'Country': object,
            'VFN': object,
            'Mp': object,
            'Mh': object,
            'Man': object,
            'MMS': object,
            'Tan': object,
            'T': object,
            'Va': object,
            'Ve': object,
            'Mk': object,
            'Cn': object,
            'Ct': object,
            'Cr': object,
            'r': int,
            'm (kg)': float,#int,
            'Mt': float,#int,
            'Enedc (g/km)': float,#int,
            'Ewltp (g/km)': float,#int,
            'W (mm)': float,#int,
            'At1 (mm)': float,#int,
            'At2 (mm)': float,#int,
            'Ft': object,
            'Fm': object,
            'ec (cm3)': float,#int,
            'ep (KW)': float,#int,
            'z (Wh/km)': float,#int,
            'IT': object,
            'Ernedc (g/km)': float,
            'Erwltp (g/km)': float,
            'De': float,
            'Vf': float,#int,
            'Status': object,
            'year': int,
            'Date of registration': object,
            'Fuel consumption ': float,
            'Electric range (km)': float#int
            }

df=pd.read_csv("/Users/olehpolupan/DataspellProjects/JAN23_BDS_INT-Rakuten/data/data.csv",
               index_col = "ID", dtype=read_dtype)
df.head()

,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,Ve,...,IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
ID,,,,,,,,,,,,,,,,,,,,,
280060,DK,NaN,SUZUKI POOL,SUZUKI MOTOR CORPORATION,SUZUKI MOTOR CORPORATION,SUZUKI MOTOR CORPORATION,e4*2007/46*1205*01,AZ,C83S,MT,...,NaN,NaN,NaN,NaN,NaN,F,2018,NaN,NaN,NaN
280060,BE,IP-02-VF1-2017-0004,RENAULT,RENAULT,RENAULT SAS,RENAULT S.A.S.,E2*2007/46*0457*13,AH,0BE2,M7LSA0100000,...,NaN,NaN,NaN,NaN,NaN,F,2019,NaN,NaN,NaN
280061,DK,NaN,SUZUKI POOL,SUZUKI MOTOR CORPORATION,SUZUKI MOTOR CORPORATION,SUZUKI MOTOR CORPORATION,e4*2007/46*1205*01,AZ,C83S,MT,...,NaN,NaN,NaN,NaN,NaN,F,2018,NaN,NaN,NaN
280061,BE,IP-02-VF1-2017-0004,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2007/46*0457*12,AH,0BE2,M7LSA0100000,...,NaN,NaN,NaN,NaN,NaN,F,2019,NaN,NaN,NaN
280062,DK,NaN,SUZUKI POOL,SUZUKI MOTOR CORPORATION,SUZUKI MOTOR CORPORATION,SUZUKI MOTOR CORPORATION,e4*2007/46*1205*01,AZ,C83S,MT,...,NaN,NaN,NaN,NaN,NaN,F,2018,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42511013 entries, 280060 to 162072500
Data columns (total 37 columns):
 #   Column                Dtype
---  ------                -----
 0   Country               object
 1   VFN                   object
 2   Mp                    object
 3   Mh                    object
 4   Man                   object
 5   MMS                   object
 6   Tan                   object
 7   T                     object
 8   Va                    object
 9   Ve                    object
 10  Mk                    object
 11  Cn                    object
 12  Ct                    object
 13  Cr                    object
 14  r                     int64
 15  m (kg)                float64
 16  Mt                    float64
 17  Enedc (g/km)          float64
 18  Ewltp (g/km)          float64
 19  W (mm)                float64
 20  At1 (mm)              float64
 21  At2 (mm)              float64
 22  Ft                    object
 23  Fm                    object
 24  ec (cm3)              float64
 25  ep (KW)               float64
 26  z (Wh/km)             float64
 27  IT                    object
 28  Ernedc (g/km)         float64
 29  Erwltp (g/km)         float64
 30  De                    float64
 31  Vf                    float64
 32  Status                object
 33  year                  int64
 34  Date of registration  object
 35  Fuel consumption      float64
 36  Electric range (km)   float64
dtypes: float64(16), int64(2), object(19)
memory usage: 12.0+ GB

In [4]:
#File contains only Final data, we can drop this column
df["Status"].value_counts()

F    42511013
Name: Status, dtype: int64

In [3]:
df = df.drop("Status", axis=1)

In [6]:
#Time interval - 2018 - 2020
df["year"].value_counts()

2019    15499728
2018    15268846
2020    11742439
Name: year, dtype: int64

In [7]:
df["Ft"].value_counts()
#we need to harmonize values

PETROL             11354297
petrol              9780830
DIESEL              5939927
diesel              4937147
Petrol              4600635
Diesel              2934863
ELECTRIC             782474
PETROL/ELECTRIC      666741
LPG                  357280
electric             344986
petrol/electric      181392
lpg                  170113
NG                   109437
Electric              94818
Petrol/Electric       76408
ng                    50496
DIESEL/ELECTRIC       43804
ng-biomethane         18135
diesel/electric       13317
NG-BIOMETHANE         11996
e85                    7407
unknown                2870
Diesel/Electric        2507
CNG                    2475
E85                    1732
HYDROGEN                959
hydrogen                266
UNKNOWN                 119
Diesel/electric          96
Hydrogen                 30
GNL                       2
Name: Ft, dtype: int64

In [4]:
#all to uppercase
df["Ft"]=df["Ft"].str.upper()
df["Ft"].value_counts()

PETROL             25735762
DIESEL             13811937
ELECTRIC            1222278
PETROL/ELECTRIC      924541
LPG                  527393
NG                   159933
DIESEL/ELECTRIC       59724
NG-BIOMETHANE         30131
E85                    9139
UNKNOWN                2989
CNG                    2475
HYDROGEN               1255
GNL                       2
Name: Ft, dtype: int64

In [5]:
#let us delete "unknown" and "GNL" fuel type
df = df.drop(df[df["Ft"]=="UNKNOWN"].index, axis=0)
df = df.drop(df[df["Ft"]=="GNL"].index, axis=0)

In [10]:
df["Ft"].value_counts()

PETROL             25732693
DIESEL             13809878
ELECTRIC            1222120
PETROL/ELECTRIC      924460
LPG                  527328
NG                   159890
DIESEL/ELECTRIC       59723
NG-BIOMETHANE         30130
E85                    9139
CNG                    2475
HYDROGEN               1255
Name: Ft, dtype: int64

In [11]:
#we have two CO2 standards available in the dataset
#new standard
df["year"][df["Ewltp (g/km)"].isnull() == True].value_counts()

2018    10694693
2019      509885
2020       21351
Name: year, dtype: int64

In [12]:
#old standard
df["year"][df["Enedc (g/km)"].isnull() == True].value_counts()

2018    14073
2019     6594
2020     6254
Name: year, dtype: int64

In [13]:
#Ewltp is newer, so let us take 2020 for it

In [14]:
#dropping rows with other years
df = df.drop(df[~df["year"]==2020].index, axis=0)

In [15]:
#dropping rows with missing target emissions
df = df.dropna(subset=["Ewltp (g/km)"], axis=0)

In [16]:
#dropping column with old standard
df = df.drop("Enedc (g/km)", axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31276613 entries, 280060 to 162072500
Data columns (total 35 columns):
 #   Column                Dtype
---  ------                -----
 0   Country               object
 1   VFN                   object
 2   Mp                    object
 3   Mh                    object
 4   Man                   object
 5   MMS                   object
 6   Tan                   object
 7   T                     object
 8   Va                    object
 9   Ve                    object
 10  Mk                    object
 11  Cn                    object
 12  Ct                    object
 13  Cr                    object
 14  r                     int64
 15  m (kg)                float64
 16  Mt                    float64
 17  Ewltp (g/km)          float64
 18  W (mm)                float64
 19  At1 (mm)              float64
 20  At2 (mm)              float64
 21  Ft                    object
 22  Fm                    object
 23  ec (cm3)              float64
 24  ep (KW)               float64
 25  z (Wh/km)             float64
 26  IT                    object
 27  Ernedc (g/km)         float64
 28  Erwltp (g/km)         float64
 29  De                    float64
 30  Vf                    float64
 31  year                  int64
 32  Date of registration  object
 33  Fuel consumption      float64
 34  Electric range (km)   float64
dtypes: float64(15), int64(2), object(18)
memory usage: 8.4+ GB

In [18]:
df.head()

,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,Ve,...,z (Wh/km),IT,Ernedc (g/km),Erwltp (g/km),De,Vf,year,Date of registration,Fuel consumption,Electric range (km)
ID,,,,,,,,,,,,,,,,,,,,,
280060,BE,IP-02-VF1-2017-0004,RENAULT,RENAULT,RENAULT SAS,RENAULT S.A.S.,E2*2007/46*0457*13,AH,0BE2,M7LSA0100000,...,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN
280061,BE,IP-02-VF1-2017-0004,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2007/46*0457*12,AH,0BE2,M7LSA0100000,...,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN
280062,BE,IP-HNP____MB6_1424-W0V-0,PSA-OPEL,OPEL AUTOMOBILE,OPEL AUTOMOBILE GMBH,OPEL AUTOMOBILE GMBH,E4*2007/46*1194*08,P7 MONOCAB C,EA025DB12,BA1VADPH0A5,...,NaN,E2 17,1.2,NaN,NaN,NaN,2019,NaN,NaN,NaN
280063,BE,IP-HNP____MB6_1424-W0V-0,PSA-OPEL,OPEL AUTOMOBILE,OPEL AUTOMOBILE GMBH,OPEL AUTOMOBILE GMBH,E4*2007/46*1194*08,P7 MONOCAB C,EA025DB12,BA1VADPH0A5,...,NaN,E2 17,1.2,NaN,NaN,NaN,2019,NaN,NaN,NaN
280064,BE,IP-HNP____MB6_1424-W0V-0,PSA-OPEL,OPEL AUTOMOBILE,OPEL AUTOMOBILE GMBH,OPEL AUTOMOBILE GMBH,E4*2007/46*1194*08,P7 MONOCAB C,EA025DB12,BA1VADPH0A5,...,NaN,E2 17,1.2,NaN,NaN,NaN,2019,NaN,NaN,NaN

In [6]:
#another columns to drop (based on common sense)
drop_list = [
    "VFN", "Mp", "Mh", "Man", "MMS", "Tan", "T", "Va", "Ve", "Ct", "Cr", "W (mm)", "At1 (mm)",
    "At2 (mm)", "z (Wh/km)", "Ernedc (g/km)", "Erwltp (g/km)", "De", "Vf", "Date of registration",
    "Electric range (km)"
    ]

df = df.drop(drop_list, axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42502542 entries, 280060 to 162072500
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   Country            object
 1   Mk                 object
 2   Cn                 object
 3   r                  int64
 4   m (kg)             float64
 5   Mt                 float64
 6   Enedc (g/km)       float64
 7   Ewltp (g/km)       float64
 8   Ft                 object
 9   Fm                 object
 10  ec (cm3)           float64
 11  ep (KW)            float64
 12  IT                 object
 13  year               int64
 14  Fuel consumption   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 5.1+ GB

In [21]:
df.isnull().sum()

Country                   923
Mk                      22616
Cn                      34183
r                           0
m (kg)                    126
Mt                     678157
Ewltp (g/km)                0
Ft                      12927
Fm                         19
ec (cm3)              1125880
ep (KW)               3829130
IT                   22154578
year                        0
Fuel consumption     31276613
dtype: int64

In [22]:
df.columns

Index(['Country', 'Mk', 'Cn', 'r', 'm (kg)', 'Mt', 'Ewltp (g/km)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)', 'IT', 'year', 'Fuel consumption '],
      dtype='object')

In [44]:
#aggregating rows after deleting columns
#df1 = df.groupby(['Country', 'Mk', 'Cn', 'm (kg)', 'Mt', 'Ewltp (g/km)', 'Ft', 'Fm',
#            'ec (cm3)', 'ep (KW)', 'IT', 'year', 'Fuel consumption ']).agg('count')
df1 = df.groupby(['Country', 'Mk', 'Cn', 'm (kg)', 'Mt', 'Ewltp (g/km)', 'Ft', 'Fm',
                  'ec (cm3)', 'ep (KW)', 'IT', 'year']).agg({'r': 'sum'}).copy()

In [27]:
df["r"].value_counts()

1     31276602
2            6
4            2
20           1
22           1
10           1
Name: r, dtype: int64

In [45]:
df1.head()

                                                                                                     r
Country Mk         Cn          m (kg) Mt     Ewltp (g/km) Ft     Fm ec (cm3) ep (KW) IT       year
AT      ALFA ROMEO ALFA GIULIA 1504.0 1675.0 177.0        PETROL M  1995.0   148.0   e3 17 25 2020   1
                                      1685.0 179.0        PETROL M  1995.0   148.0   e3 17 25 2020   1
                                      1724.0 176.0        PETROL M  1995.0   148.0   e3 17 25 2020   1
                                      1786.0 184.0        PETROL M  1995.0   148.0   e3 17    2020  16
                               1540.0 1709.0 142.0        DIESEL M  2143.0   140.0   e3 17 25 2020   1

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1472017 entries, ('AT', 'ALFA ROMEO', 'ALFA GIULIA', 1504.0, 1675.0, 177.0, 'PETROL', 'M', 1995.0, 148.0, 'e3 17 25', 2020) to ('SK', 'ŠKODA', 'ŠKODA SCALA', 1209.0, 1347.0, 126.0, 'PETROL', 'M', 999.0, 85.0, 'e8 17 19', 2020)
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   r       1472017 non-null  int64
dtypes: int64(1)
memory usage: 39.5+ MB

In [47]:
#lst = [df]
#del lst

In [8]:
df.reset_index(drop=True, inplace=True)
df.to_feather("/Users/olehpolupan/DataspellProjects/JAN23_BDS_INT-Rakuten/data/all_years_feather.csv")

Field name 	Field Definition 	Data type 	Primary key 
ID	Identification number	integer	Yes
MS	Member state	varchar(2)	No
Mp	Manufacturer pooling	varchar(50)	No
VFN	Vehicle family identification number	varchar(25)	No
Mh
Manufacturer name

EU standard denomination
varchar(50)	No
Man	Manufacturer name OEM declaration	varchar(50)	No
MMS
Manufacturer name

MS registry denomination
varchar(125)	No
TAN	Type approval number	varchar(50)	No
T	Type	varchar(25)	No
Va	Variant	varchar(25)	No
Ve	Version	varchar(35)	No
Mk	Make	varchar(25)	No
Cn	Commercial name	varchar(50)	No
Ct	Category of the vehicle type approved	varchar(5)	No
Cr	Category of the vehicle registered	varchar(5)	No
M (kg)
Mass in running order

Completed/complete vehicle
integer	No
Mt	WLTP test mass	integer	No
Enedc (g/km)	Specific CO2 Emissions (NEDC)	integer	No
Ewltp (g/km)	Specific CO2 Emissions (WLTP)	integer	No
W (mm)	Wheel Base	integer	No
At1 (mm)	Axle width steering axle	integer	No
At2 (mm)	Axle width other axle	integer	No
Ft	Fuel type	varchar(25)	No
Fm	Fuel mode	varchar(1)	No
Ec (cm3)	Engine capacity	integer	No
Ep (KW)	Engine power	integer	No
Z (Wh/km)	Electric energy consumption	integer	No
IT	Innovative technology or group of innovative technologies	varchar(25)	No
Ernedc (g/km)	Emissions reduction through innovative technologies	float	No
Erwltp (g/km)	Emissions reduction through innovative technologies (WLTP)	float	No
De	Deviation factor	float	No
Vf	Verification factor	integer	No
R	Total new registrations	integer	No
Year	Reporting year	integer	No
Status	P = Provisional data, F = Final data	varchar(1)	No
Version_file	Internal versioning of deliverables	varchar(10)	No
E (g/km)	Specific CO2 Emission. Deprecated value, only relevant for data until 2016	float	No
Er (g/km)	Emissions reduction through innovative technologies. Deprecated value, only relevant for data until 2016	float	No
Zr	Electric range	integer	No
Dr	Registration date	date	No
Fc	Fuel consumption	float	No
CO2 passenger cars (elastic data viewer)

In [49]:
test = pd.read_feather("/Users/olehpolupan/DataspellProjects/JAN23_BDS_INT-Rakuten/data/feather.csv")
test.head()

,Country,Mk,Cn,r,m (kg),Mt,Ewltp (g/km),Ft,Fm,ec (cm3),ep (KW),IT,year,Fuel consumption
0,BE,RENAULT,TWINGO,1,970.0,1104.0,129.0,PETROL,M,999.0,52.0,None,2019,NaN
1,BE,RENAULT,TWINGO,1,970.0,1082.0,130.0,PETROL,M,999.0,52.0,None,2019,NaN
2,BE,OPEL,CROSSLAND X,1,1254.0,1425.0,140.0,PETROL,M,1199.0,81.0,E2 17,2019,NaN
3,BE,OPEL,CROSSLAND X,1,1254.0,1426.0,140.0,PETROL,M,1199.0,81.0,E2 17,2019,NaN
4,BE,OPEL,CROSSLAND X,1,1254.0,1425.0,140.0,PETROL,M,1199.0,81.0,E2 17,2019,NaN

In [50]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31276613 entries, 0 to 31276612
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   Country            object
 1   Mk                 object
 2   Cn                 object
 3   r                  int64
 4   m (kg)             float64
 5   Mt                 float64
 6   Ewltp (g/km)       float64
 7   Ft                 object
 8   Fm                 object
 9   ec (cm3)           float64
 10  ep (KW)            float64
 11  IT                 object
 12  year               int64
 13  Fuel consumption   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 3.3+ GB